# work files
x
y
z

# backup files
*~
*.orig
*.org

# Object files
*.o
*.lo

# Libraries
*.lib
*.a
*.la
.deps
.libs

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# core dumps
vgcore*
core*

# tarballs
*.tar
*.tar.gz

# dist dirs
topiary-[0-9]*

# generated Makefiles
Makefile

# separate build directories
build
debug
perform
valgrind

# autotools files
configure.scan
autom4te.cache
config.log
deleted:    config.h
config.status
libtool
stamp-h1

#compile
#depcomp
#install-sh
#missing

