# work files
x
y
z

# backup files
*~
*.orig
*.org

# Object files
*.o
*.lo

# Libraries
*.lib
*.a
*.la
.deps
.libs

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# core dumps
vgcore*
core*

# tarballs
*.tar
*.tar.gz

# generated Makefiles
Makefile

# separate build directories
build

# autotools files
configure.scan
#compile
#depcomp
#install-sh
#missing

