# work files
x
y
z

# backup files
*~
*.orig

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# core dumps
vgcore*
core*

# tarballs
*.tar
*.tar.gz

# generated Makefiles
Makefile
